<h1>Productos</h1>

     {{#each products}} 
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">{{name}} </h3>
                        
                    <p>
                        {{price}}
                    </p>
                    <p>
                        {{date}}
                    </p>
                     <p>
                        {{amount}}
                    </p>
                    <a href="/links/delete/{{id}}" class="btn btn-danger">Delete</a>
                    <a href="/links/edit/{{id}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
{{/each}}

