<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     {{#each products}} 
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">
                        {{name}}
                    </h3>
                    <p>
                        {{price}}
                    </p>
                    <p>
                        {{products.date}}
                    </p>
                     <p>
                        {{products.amount}}
                    </p>
                    <a href="/links/delete/{{products.id}}" class="btn btn-danger">Delete</a>
                    <a href="/links/edit/{{products.id}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
{{/each}}
</body>
</html>